@import "tailwindcss";

@layer base {
  * {
    border-color: hsl(240 5.9% 90%);
  }
  body {
    background: white;
    color: black;
  }
  button:not(:disabled),
  [role="button"]:not([aria-disabled="true"]),
  [type="button"]:not(:disabled),
  [type="submit"]:not(:disabled),
  [type="reset"]:not(:disabled),
  a[href],
  select:not(:disabled),
  input[type="checkbox"]:not(:disabled),
  input[type="radio"]:not(:disabled) {
    cursor: pointer;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.flex {
  min-height: 0;
  min-width: 0;
}

@media (min-width: 640px) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .container {
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 1280px;
  }
}

.product-name {
  transition: font-size 0.2s ease;
}

.product-name.text-xl {
  font-size: 1.25rem !important;
  font-weight: 600;
}